@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
.page1{
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 0px 60px;
}
.navbar{
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a{
    text-decoration: none;
}

.navbar ul{
    margin-right: 300px;
}
.navbar ul a{
    margin: 15px;
    text-decoration: none;
}
.bi{
    border: 2px solid #fff;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.container{
    width: 100%;
    height: 400px;
    display: flex;
}
.container .left{
    width: 50%;
    border-bottom: 2px solid #fff;
    height: 350px;
}
.container .left h1{
    font-size: 80px;
}
.last{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.container .right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .right img{
    margin-top: 100px;
    height: 400px;
    margin-left: 150px;
    border-radius: 20px;
    width: 400px;
    object-fit: cover;
    object-position: top;
}
.span2{
    display: inline-block;
    width: 40%;
    font-size: 20px;
    color: red;
    padding-left: 50px;
}
.page2{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imagecontainer{
    width: 70%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.imagecontainer img{
    border-radius: 10px;
    box-shadow: 1px 1px 1px #fff;
}
.imagecontainer .image1 img{
    height: 350px;
}

.imagecontainer .image2 img{
    height: 350px;
}
.imagecontainer .image3 img{
    height: 350px;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    margin-left: 30px;
}

.info h4{
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    margin-left: 40px;  
    
}
.info h3{
    margin-left: 130px;
    margin-bottom: 40px;
}
.info .h1{
    width: 40%;
    height: 30px;
    display: flex;
    align-items: center;
    margin-left: 135px;
    border-radius: 10px;
}
.info .h2{
    width: 40%;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-left: 130px;
}
.info .h3{
    width: 30%;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-left: 150px;
}